
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if msg %}
<h2>{{msg}}</h2>
{% endif %}
<h2>Change Password</h2><br><br>
<form action="" method="post" class="form">
    {% csrf_token %}
    <label>Current Password</label><br>
    <input type="password" name="currentpass" required><br>
    <label>Change Password</label><br>
    <input type="password" name="changepass" required><br>
    <label>Confirm Password</label><br>
    <input type="password" name="confirmpass" required><br><br>
    <input type="submit" value="Change Password" class="inti">
</form>
</body>
</html>