<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <form action="" method="post" >
        {% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}}  <br><br>
            {{fm.errors}}
        {% endfor %}
        

        <input type="submit" value="Submit">
</form>
<p>{{ form.errors }}</p>
{% if message in messages %}
<small>{% if message.tags %} {{message}}
    {% endif %}
</small>
{% endif %}
</body>
</html>